<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container mt-4">
    <h3>Inventory Report</h3>
    <!-- Blank Row -->
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <!-- Table -->
        <div class="col-12">
            <table class="table table-striped" id="inventory-report-table">
                <thead class="sticky-top" style="top: 78px; z-index: 2;">
                <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
    </div>
</div> <!-- Container end-->
<button type="button"
        class="btn btn-secondary btn-floating btn-sm"
        id="btn-back-to-top">
    <i class="fa fa-arrow-up fa-2x"></i>
</button>

<footer th:replace="snippets.html :: name_footer"></footer>
<script th:src="@{/static/inventoryReport.js}"/>
</script>

</body>

</html>